*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/backend/build/
app/
backend/src/main/java/com/ethohampton/instant/Web/
backend/src/main/webapp/css/
backend/src/main/webapp/js/
.idea/modules/
