*.iml
.gradle
/backend/build/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/
.idea/modules/
/backend/build/exploded-app/META-INF/MANIFEST.MF
/backend/build/tmp/war/MANIFEST.MF
